form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100px;
}

form button {
    height: 25px;
    width: 100px;
}

#submitSection {
    display: flex;
    flex-direction: row;
    width: fit-content;
    align-items: center;
    justify-content: space-between;
}

#processStatus {
    margin-left: 20px;
}

